@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
* {
  box-sizing: border-box;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

    </style>
</head>
<body color:#aaaaaa; background="/images/airplane_wallpaper.jpg">

    <div style="padding:15px;text-align:center; height:70px; width:auto;margin-top:20px">

        @*<img src="~/images/aircraft.png" height="200" width="350" align="bottom" />*@ <h1 align="right" style="color:#011D42"> Welcome To Midlands Fly</h1>
        <h6 align="right" style="color:#011D42">Flights to more than 150 countries</h6>
    </div>

    <div style="overflow:auto">
        <br /><br />

        <center>
            @*<h4>Arrange yur flight with us to the amazing places we are offering</h4>*@<br />
            <table>
                <tr>
                    <td><img src="~/images/Malaysia.jpg" height="480" width="540" align="left" /></td>
                    <td><img src="~/images/dubai.jpg" height="480" width="540" align="right" /></td>
                </tr>
                @*<tr><td><h5 align="middle" >Malaysia</h5></td><td><h5 align="middle">Dubai</h5></td></tr>*@
                @*<tr>
                    <td><img src="~/images/italy.jpg" height="480" width="540" align="left" /></td>
                    <td><img src="~/images/Maldives.jpg" height="480" width="540" align="right" /></td>
                </tr>*@
                @*<tr>
                    <td><h5 align="middle">Italy </h5> </td>
                    <td><h5 align="middle">Maldives</h5></td>
                </tr>*@
               
            </table>
        </center>

    </div>

    <div style="background-color:#e5e5e5; text-align:left; padding:10px;margin-top:7px;width:inherit;height:170px">
        © Ashley Howells, Sana Elahi, Karl McCormack, Faryal Tabassam   <br />
        <a href="https://www.facebook.com/"><img src="~/images/fb icon.png" height="70" width="70" /></a>
        <a href="https://www.twitter.com/"><img src="~/images/Twitter-icon.png" height="50" width="50" /></a>
        <a href="https://www.youtube.com/"><img src="~/images/youtube-logo.png" height="150" width="150" /></a>

    </div>


    @*<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
        <h1>Welcome To Midlands Fly</h1>
        
    </div>
        <div style="overflow:auto">
            <h2>Airline Management Software</h2>
            
            <p></p>
            </div>

        <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© Ashley Howells, Sana Elahi, Karl McCormack, Faryal Tabassam</div>*@

</body>
</html>