@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
* {
  box-sizing: border-box;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

    </style>
</head>
<body color:#aaaaaa;">

    <div style="background-color:#e5e5e5;padding:15px;text-align:center;">
        <img src="~/images/Midland.png" alt="Logo" width="80" height="80" style="float:left";>
        <h1>Welcome To Midlands Fly</h1>
        
    </div>
        <div style="overflow:auto">
            <h2>Placeholder text</h2>
            
            <p>Test</p>
            </div>

        <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© Ashley Howells, Sana Elahi, Karl McCormack, Faryal Tabassam</div>

</body>
</html>