@model MainMidlandsFly.Models.Crew

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
        
            <div class="form-group">
                <label asp-for="CrewId" class="control-label"></label>
                <input asp-for="CrewId" class="form-control" />
                <span asp-validation-for="CrewId" class="text-danger"></span>
            </div>
            <div>
                <h4>Personal Details</h4>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
                
                <br />
            <div>
                <h4>Contact Details</h4>
                <div class="form-group">
                    <label asp-for="MobNo" class="control-label"></label>
                    <input asp-for="MobNo" class="form-control" />
                    <span asp-validation-for="MobNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                </div>
            <div>
                <h4>Job Details</h4>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    :   <select asp-for="Type" asp-items="Model.Roles">
                        <option disabled selected>--- SELECT ---</option>
                    </select> <br />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
