@model MainMidlandsFly.Models.Aircraft

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Aircraft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            @*Field below is to allow an Edit to pass model validation as ID isn't unique at that point but this allows overide*@
            @Html.Hidden("InitialRegId", Model.AircraftRegNo)

           <div class="form-group">
                <label asp-for="AircraftRegNo" class="control-label"></label>
                <input asp-for="AircraftRegNo" readonly="readonly" class="form-control" />
                <span asp-validation-for="AircraftRegNo" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" readonly="readonly" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>



                <div id="MaxSeating" class="form-group">
                    <label asp-for="Maximum_Seating_Capacity" class="control-label"></label>
                    <input asp-for="Maximum_Seating_Capacity" class="form-control" />
                    <span asp-validation-for="Maximum_Seating_Capacity" class="text-danger"></span>
                </div>

                <div id="MaxCargo" class="form-group">
                    <label asp-for="Maximum_Cargo_Capacity" class="control-label"></label>
                    <input asp-for="Maximum_Cargo_Capacity" class="form-control" />
                    <span asp-validation-for="Maximum_Cargo_Capacity" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                :   <select asp-for="Type" asp-items="Model.AircraftCategory">
                    <option disabled selected>--- SELECT ---</option>
                </select> <br />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>*@
                @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@

                <div class="form-group">
                    <label asp-for="FlyingHoursCount" class="control-label"></label>
                    <input asp-for="FlyingHoursCount" class="form-control" />
                    <span asp-validation-for="FlyingHoursCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*Jquery below shows and hides divs based on aircraft type*@ 
<script type="text/javascript">
     $(document).ready(function ()
    {
        var type = $("#Type").val();

        if (type == 'Passenger')
        {
            $('#MaxSeating').show();
            $('#MaxCargo').hide();

        }
        if (type == 'Cargo')
        {
            $('#MaxCargo').show();
            $('#MaxSeating').hide();

        }
    });

</script>



   
}
