@model MainMidlandsFly.Models.Flight_Aircraft_Crew_Schedule

@{
    ViewData["Title"] = "Create";
}


<h4>Pick the crew that will be working on the job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label"></label>
                <input asp-for="FlightId" class="form-control" />
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftId" class="control-label"></label>
                <input asp-for="AircraftId" class="form-control" />
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCrewId1" class="control-label"></label>
                <input asp-for="FlightCrewId1" class="form-control" />
                <span asp-validation-for="FlightCrewId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCrewId2" class="control-label"></label>
                <input asp-for="FlightCrewId2" class="form-control" />
                <span asp-validation-for="FlightCrewId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCrewId3" class="control-label"></label>
                <input asp-for="FlightCrewId3" class="form-control" />
                <span asp-validation-for="FlightCrewId3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flying_Hours" class="control-label"></label>
                <input asp-for="Flying_Hours" class="form-control" />
                <span asp-validation-for="Flying_Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller ="Flight_Aircraft_Crew_Schedule" asp-action ="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
